footer.text-center.text-white
    section
        a.btn.btn-floating.m-1.btn-dark(href='https://github.com/jonx8' role='button')
            i.fab.fa-github
        .text-center(style='background-color: rgba(0, 0, 0, 0.2);') 2023