extends layout

block content
    .d-flex.flex-row.justify-content-center.m-4
        h4 Диалог
    .d-flex.align-items-center.justify-content-center.flex-column.mb-5
        .cards.w-75.d-flex.align-items-center.flex-column
