extends layout


block content
    a.btn.base-btn.btn-outline-light.return-btn Назад
    .d-flex.flex-row.justify-content-center
        h4 Диалоги пользователя
    .d-flex.align-items-center.justify-content-center.flex-column
        .conversations.w-75
            ul.list-group