extends layout


block content
    a(href='/admin/users/').btn.base-btn.btn-outline-light.return-btn Назад
    .d-flex.flex-row.justify-content-center
        h4 Новости пользователя
    .d-flex.align-items-center.justify-content-center
        .news-list.w-75
