<app-base-toolbar></app-base-toolbar>

<div class="headline-wrapper">
    <h3 class="mat-headline-3 section-headline">Диалог</h3>
</div>
<div class="cards-list">
    <a class="return-btn" mat-flat-button color="primary" [routerLink]="['/messages']">К списку сообщений</a>
    <div *ngIf="messages.length === 0">
        <p class="mat-headline-6">Пока нет сообщений</p>
    </div>

    <mat-card class="card-post" *ngFor="let message of messages | dateSort">
        <mat-card-header>
            <mat-card-title>
                <a [routerLink]="['/users', message.from]">
                    {{users.get(message.from)?.fullName}}
                </a>
            </mat-card-title>
            <mat-card-subtitle>
                {{message.createdAt | date:'yyyy-MM-dd в HH:mm'}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="message-content">{{message.text}}</div>
        </mat-card-content>
    </mat-card>
    <form [formGroup]="newMessageForm" id="new-msg-form" (ngSubmit)="submitMessage()">
        <mat-form-field>
            <mat-label>Новое сообщение</mat-label>
            <textarea maxlength="300" matInput placeholder="Новое сообщение" formControlName="text"></textarea>
        </mat-form-field>
        <button mat-flat-button color="primary">Отправить</button>
    </form>
</div>

